<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>Form</title>
</head>
<body>
    <div class="container">
            <form class="form" action="/enter-user" method="POST">
                <label class="label" for="">Name</label>
                <input class="input" name="name" id="name" type="text">
                <label class="label" for="">Favourite Color</label>
                <input class="input" name="color" id="color" type="color">
        
                <button class="button" type="submit">
                    Submit
                </button>
            </form>

    </div>
   
</body>
</html>